<div id="content" class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase">
                        Nouveau motif
                    </h3>
                </div>
                <div class="card-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="secteur" class="sr-only">secteur</label>
                            <input id="secteur"  type="text" placeholder="Code activité" class="mr-3 form-control">
                        </div>
                        <div class="form-group">
                            <label for="libelle" class="sr-only">Libellé</label>
                            <input id="libelle"  type="text" placeholder="Libellé de l'activité" class="mr-3 form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"> Enregistrer </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="h6 text-uppercase">Dossiers de transferts de fonds </h3>
                            </div>
                          
                        </div>
                    </div>
                    <div class="card-body">                           
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Code activité </th>
                                    <th> Libellé activité</th>
                                 
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                            
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>      
        </div>
    </section>
</div>  