<form class="form-horizontal">
    <div class="tab-pane">
      <h4 class="head text-center">Transaction</h4>
      <br/>
    </div>
    <div class="container">

    <div class="form-group">
      <label class="form-control-label">Frais de Transfert </label>
      <div class="col-md-12">
        <div class="custom-control custom-radio custom-control-inline col-md-4">
          <input id="customRadioInline1" type="radio" name="customRadioInline1" class="custom-control-input">
          <label for="customRadioInline1" class="custom-control-label">Frais à la charge du donneur d'ordre</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-md-4">
          <input id="customRadioInline2" type="radio" name="customRadioInline1" class="custom-control-input">
          <label for="customRadioInline2" class="custom-control-label">Frais à la charge du bénéficiaire</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-md-3">
          <input id="customRadioInline3" type="radio" name="customRadioInline1" class="custom-control-input">
          <label for="customRadioInline3" class="custom-control-label">Frais partagés</label>    
        </div>
      </div>
    </div>  
    <div class="line"></div>

    <div class="row">
      <div class="col-md-6">   
      <div class="form-group">
        <label class="form-control-label">Motif du transfert</label>
        <input type="password" name="password" class="form-control">
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-control-label">Type du transfert</label>
        <select formControlName="typeTransfert" class="form-control">
          <option>option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
        </select>
      </div>
    </div>
  </div>
  
   <div class="row">
      <div class="col-md-6">       
          <div class="form-group">
            <label class="form-control-label">Type de marchandise </label>
            <select formControlName="typeTransfert" class="form-control">
              <option>option 1</option>
              <option>option 2</option>
              <option>option 3</option>
              <option>option 4</option>
            </select>
          </div>
          
      </div>

      <div class="col-md-6">       
        <div class="row">
          <div class="col-md-8 form-group">
            <label class="form-control-label">Montant </label>
            <input type="password" name="password" class="form-control">
          </div>
          <div class="col-md-4">
            <label class="form-control-label">Dévise </label>
            <input type="password" name="password" class="form-control">
          </div>
        </div>
      </div>
   </div>
    </div>
    <div class="line"></div>
                  
    <div class="form-group row">
      <div class="col-md-9 ml-auto  ">
        <button type="button" routerLink="/trf/dossiers/ac" class="btn btn-secondary">Annuler</button>
        <button routerLink="/trf/dossiers/ac"  class="btn btn-primary">Suivant</button>
      </div>
    </div>
  </form>
