<form class="form cf">
    <div class="wizard">
        <div class="wizard-inner">
            <!--<div class="connecting-line"></div>-->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a routerLink="ordre"  data-toggle="tab" aria-controls="step1" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }" role="tab" title="Ordre de virement" class="nav-link active">
                        <span class="round-tab one">
                            <i class="fa fa-info"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a routerLink="ac" data-toggle="tab" aria-controls="step2" role="tab"
                     title="Autorisation de change" class="nav-link">
                        <span class="round-tab two">
                            <i class="fa fa-home"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a routerLink="justificatifs" routerLinkActive="active" data-toggle="tab" aria-controls="step3"
                     role="tab" title="Jusfificatifs pour inscription" class="nav-link ">
                        <span class="round-tab three">
                            <i class="fa fa-money"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a routerLink="/maison/new/photo" routerLinkActive="active" data-toggle="tab" aria-controls="step4" role="tab" title="AJouter des photos " class="nav-link ">
                        <span class="round-tab four">
                            <i class="fa fa-image"></i>
                        </span>
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
</form>

