<div id="sidebar" class="sidebar py-3">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">
        PRINCIPAL
    </div>
    <ul class="sidebar-menu list-unstyled" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <li class="sidebar-list-item">
            <a routerLink="/trf/dashboard" class="sidebar-link text-muted">
                <i class="o-home-1 mr-3 text-gray"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a routerLink="/trf/ordre/donneur" class="sidebar-link text-muted">
                <i class="o-home-1 mr-3 text-gray"></i>
                <span>Ordre Virement</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a routerLink="/trf/activites" class="sidebar-link text-muted">
                <i class="o-home-1 mr-3 text-gray"></i>
                <span>Secteur d'activités</span>
            </a>
        </li>
      
        <li class="sidebar-list-item">
            <a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted">
                <i class="o-survey-1 mr-3 text-gray"></i>
                <span>Paramétrage</span>
            </a>
            <div id="pages" class="collapse">
                <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                    <li class="sidebar-list-item">
                        <a routerLink="/trf/dossiers/ordre" class="sidebar-link text-muted pl-lg-5">
                            Gestion des utilisateurs
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a routerLink="/trf/dossiers/ac" class="sidebar-link text-muted pl-lg-5">
                            Gestion des rôles
                        </a>
                    </li>
                  
                </ul>
            </div>
        </li>
      
        <li class="sidebar-list-item">
            <a routerLink="/trf/list" class="sidebar-link text-muted">
                <i class="o-wireframe-1 mr-3 text-gray"></i>
                <span>Statistiques</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="forms.html" class="sidebar-link text-muted">
                <i class="o-wireframe-1 mr-3 text-gray"></i>
                <span>Aide et Support</span>
            </a>
        </li>
    </ul>
</div>